{% extends "all_base.html" %}  
{% block content %}


{% for category in categories %}
{{ category.name }}
<!-- {{ category.id  }} -->

<table class="table table-sm table-dark">
    <thead>
        <tr>
        <th scope="col">Date</th>
          <th scope="col">category</th>
          <th scope="col">Amount</th>
          <th scope="col">Description</th>
        </tr> 
      </thead>
      <tbody>
        
        {% for expense in expenses %}
        {%  if expense.category_id == category.id %}


        <tr>
          <td>{{ expense.date }}</td>
          <td>{{ expense.category_id }}</td>
          <td>${{ expense.amount }}</td>
        <td>{{ expense.description }}</td>
        </tr>
        {% endif %}
        {% endfor %}

 

      </tbody>
    </table>

    {% endfor %}

</div>

<script>

// document.getElementById('createCategoryButton').addEventListener('click', function() {
//   // Send AJAX request to create a new task
//   var xhr = new XMLHttpRequest();
//   xhr.open('POST', 'add_expense_category/', true);
//   xhr.setRequestHeader('Content-Type', 'application/json');
//   // xhr.setRequestHeader('X-CSRFToken', csrftoken); // Include CSRF token in request headers
//   xhr.onload = function() {
//       if (xhr.status === 200) {
//           console.log('Expense Category created successfully');
//           location.reload();

//           var newTask = JSON.parse(xhr.responseText);
//           addNewTaskToUI(newTask);
//       } else {
//           console.error('Error creating Category:', xhr.responseText);

//       }
//   };
//   xhr.send(JSON.stringify());
// });

</script>
{% endblock %}



