{% extends "base.html" %}  

{% block content %}
<!--<ul>
  {% for task in tasks %}
      <li{% if task.completed %} class="completed"{% endif %}>
          {{ task.title }}
          <a href="{% url 'complete_task' task.id %}">[complete]</a>
      </li>
  {% empty %}
      <li>No tasks yet.</li>
  {% endfor %}
  </ul>-->

  <div class="container-fluid bg-3 text-center">    
    <h3>You must not fool yourself,You are the easiest to fool.</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Things thats gonna make your life easy.</p>
        <ul>
   
        <!-- {% for task in tasks %}
        <li{% if task.completed and task.category_id == 1 %} class="completed"{% endif %}>
          {% if task.category_id == 1 %}
          {{ task.title }} 
          <a href="{% url 'complete_task' task.id  %}">[complete]</a>
          {% endif %}
          
      </li>
  {% empty %}
      <li>No tasks yet.</li>
  {% endfor %} -->
           {% for task in tasks %}
           {% if task.category_id == 1 %}
           {% if task.completed  %}
            <li class="completed">
          {% else %}
          <li>
            {% endif %}
          {{ task.title }} 
          <a href="{% url 'complete_task' task.id  %}">[complete]</a>
          {% endif %}
          
      </li>
  {% empty %}
      <li>No tasks yet.</li>
  {% endfor %}
  <a href="{% url 'add_task' %}">Add Task</a> 
  </ul>
        
      </div>
      <div class="col-sm-4"> 
        <p>Career.</p>
        {% for task in tasks %}
        {% if task.category_id == 2 %}
        {% if task.completed  %}
         <li class="completed">
       {% else %}
       <li>
         {% endif %}
       {{ task.title }} 
       <a href="{% url 'complete_task' task.id  %}">[complete]</a>
       {% endif %}
       
   </li>
{% empty %}
   <li>No tasks yet.</li>
{% endfor %}
<a href="{% url 'add_task' %}">Add Task</a> 
</ul>
      </div>
      <div class="col-sm-4"> 

      </div>
    </div>
  </div><br>
  
  <div class="container-fluid bg-3 text-center">    
    <div class="row">
      <div class="col-sm-3">
        <p>Relationship.</p>
        {% for task in tasks %}
        {% if task.category_id == 3 %}
        {% if task.completed  %}
         <li class="completed">
       {% else %}
       <li>
         {% endif %}
       {{ task.title }} 
       <a href="{% url 'complete_task' task.id  %}">[complete]</a>
       {% endif %}
       
   </li>
{% empty %}
   <li>No tasks yet.</li>
{% endfor %}
<a href="{% url 'add_task' %}">Add Task</a> 
</ul>
      </div>
      <div class="col-sm-3"> 
  
      </div>
      <div class="col-sm-3"> 

      </div>
      <div class="col-sm-3">

      </div>
    </div>
  </div><br><br>
  

{% endblock %}